{% extends 'base.html' %}
{% block title %}搜索{% endblock %}
{% block position %}搜索{% endblock %}
{% block position2 %}搜索{% endblock %}

{% block body_content %}
    <div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
        <div class="container">
            <div class="row" style="justify-content: center">
            {% if data %}
                <!-- 图书循环 -->
                {% for book in data %}
                <div class="" style="width: 30%;padding: 0 45px">
                    <div class="product" >
                        <div class="product__thumb">
                            <img src="{{ book.book_img }}" alt="product image">
                            <div class="new__box">
                                <span class="new-label">推荐</span>
                            </div>
                        </div>
                        <div class="product__content">
                            <h4><a href="{% url 'myauth:details' book.id %}">{{ book.book_name }}</a></h4>
                            <p style="margin-top: -10px">{{ book.book_point }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- End 图书 -->
            {% else %}
                <div class="alert alert-danger" role="alert">抱歉，暂无{{ book_search }}书籍</div>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}