{% extends 'base.html' %}
{% block title %}书籍{% endblock %}
{% block position %}书籍{% endblock %}
{% block position2 %}书籍{% endblock %}

{% block body_content %}
    <!-- Start main Content -->
    <div class="maincontent bg--white pt--80 pb--55">
        <div class="container">
            <div class="row" style="padding-left: 50px">
                <div class="col-lg-9 col-12">
                    {% for book in data %}
                    {# 书籍内容 #}
                    <div class="wn__single__product">
                        <div class="row" >
                            <div class="col-lg-5 col-12">
                                    <div class="fotorama wn__fotorama__action" data-nav="thumbs">
                                          <img src="{{ book.book_img }}" alt="">
                                    </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="product__info__main">
                                    <h1>{{ book.book_name }}</h1>
                                    <div class="product-info-stock-sku d-flex" style="margin: 10px 0;">
                                        <p>作者: <span> {{ book.book_author }}</span></p>
                                    </div>
                                    <div class="product-info-stock-sku d-flex">
                                        <p>评论人数: <span>{{ book.book_starring }}</span></p>
                                    </div>
                                    <div class="price-box">
                                        <ul class="rating-summary d-flex">
                                            <li><i class="zmdi zmdi-star-outline"></i></li>
                                            <li><i class="zmdi zmdi-star-outline"></i></li>
                                            <li><i class="zmdi zmdi-star-outline"></i></li>
                                            <li class="off"><i class="zmdi zmdi-star-outline"></i></li>
                                            <li class="off"><i class="zmdi zmdi-star-outline"></i></li>
                                        </ul>
                                        <span>{{ book.book_point }}</span>
                                    </div>
                                    <div class="box-tocart d-flex">
                                        <form action="" method="post" style="display: flex">
                                        {% csrf_token %}
                                            <input type="hidden" value={{ book.id }} name="book_id">
                                            <input  class="input-text qty" value="1" name="Score" step="0.1" max="10" min="0.1" title="Qty" type="number" required>
                                            <div class="addtocart__actions">
                                                <button class="tocart" type="submit">提交评分</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# End 书籍内容 #}

                    {# 书籍简介 #}
                    <div class="product__info__detailed">
                        <div class="pro_details_nav nav justify-content-start" role="tablist">
                            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-details" role="tab">简介</a>
                        </div>
                        <div class="tab__container">
                            <!-- Start Single Tab Content -->
                            <div class="pro__tab_label tab-pane fade show active" id="nav-details" role="tabpanel">
                                <div class="description__attribute">
                                    <p>{{ book.book_description }}</p>
                                </div>
                            </div>
                            <!-- End Single Tab Content -->
                        </div>
                    </div>
                    {# End 书籍简介 #}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- End main Content -->

{% endblock %}